# Let's name our environment
export ENVIRONMENT="dev"

# Database details
export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="postgres"
export HOST="localhost"
export PORT="5432"
export DATABASE_NAME="api_${ENVIRONMENT}"
export DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${HOST}:${PORT}/${DATABASE_NAME}?sslmode=disable"
export ERL_AFLAGS='-sasl errlog_type error'
